<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chenguangli.spring.mybatis.SpitterDao">
    <resultMap id="spitter" type="Spitter">
        <id column="id" property="id"/>
        <result column="user_name" property="userName"/>
        <result column="password" property="password"/>
        <result column="email" property="email"/>
        <result column="full_name" property="fullName"/>
        <result column="create_time" property="createTime"/>
    </resultMap>

    <update id="updateSpitter0" parameterType="com.chenguangli.spring.db.Spitter">
        update spitter
        set
        <if test="email != null">
            email=#{email},
        </if>
        <if test="password !=null">
            password=#{password}
        </if>
        <where>
            <if test="userName != null">
                user_name=#{userName}
            </if>
        </where>
    </update>

    <select id="getUserName" resultType="java.lang.String">
        Select user_name from spitter
        where id= #{id}
    </select>

    <insert id="insert0" parameterType="com.chenguangli.spring.db.Spitter" flushCache="true"
    timeout="3" statementType="PREPARED" useGeneratedKeys="true" keyProperty="" >

    </insert>
</mapper>